{% extends 'back/version/_base_back_version.html.twig' %}

{% block title %}Edit Version{% endblock %}

{% block body %}
    <h1>Edit Version</h1>

    {{ include('back/version/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_version_index') }}">back to list</a>

    {{ include('back/version/_delete_form.html.twig') }}
{% endblock %}
