{% extends 'back/version/_base_back_version.html.twig' %}

{% block title %}New Version{% endblock %}

{% block body %}
    <h1>Create new Version</h1>

    {{ include('back/version/_form.html.twig') }}

    <a href="{{ path('back_version_index') }}">back to list</a>
{% endblock %}
