{% extends 'back/difficulty/_base_back_difficulty.html.twig' %}

{% block title %}Edit Difficulty{% endblock %}

{% block body %}
    <h1>Edit Difficulty</h1>

    {{ include('back/difficulty/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_difficulty_index') }}">back to list</a>

    {{ include('back/difficulty/_delete_form.html.twig') }}
{% endblock %}
