@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400&display=swap');
main {
    margin: 0px;
    background: #F1F2F4;
}
.trans {
    position:absolute;
    transform: rotate(30deg);
    top:750px;
    left:150px;
    height:270px;
    width: 1800px;
    filter:alpha(opacity=55);
    -moz-opacity:0.45;
    opacity: 0.25;
}
.scenarSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem;
}

.scenarLeft {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.scenarRight {
    width: 50%;
}
.scenarImg {
    width: 700px;
}
.scenarTiltles, .scenarMaterial, .objectivesTiltle, .rulesTiltle, .commentInfo, button{
    font-family: 'Khand', sans-serif;
}
.scenarTiltle {
    color: #EBA919;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
}
.scenarAuth {
    font-size: 0.7rem;
}
.auth, .scenarLvl, .commentInfo {
    font-size: 0.7rem;
    font-weight: bolder;
}
.scenarTales {
    font-family: 'Shadows Into Light', cursive;
   font-weight: bolder;
   width: 450px;
   margin: 0;
}
.scenarMaterial {
    margin: 0;
    padding: 0%;
    font-size: 0.7rem;

}
.scenarVersion {
    font-weight: bolder;
}
.scenarTiles {
    font-weight: bolder;
}
.objectivesTiltle, .rulesTiltle {
    font-size: 1.8rem;
}

.em, .objectiveSpe {
    font-weight: bolder;
}
.objectiveSpe {
    font-size: 0.7rem;
    margin: 0;
}
.objectivesUl {
    margin: 0;
}
.scenarObjectives, .scenarRules {
    max-width: 800px;
}
.RuleSubUl {
    list-style-type: none;
}
.RuleSubLi{
    margin: 5px;
}
.commentSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
    padding-bottom: 3rem;
}
.comment, .textForm, button {
    background-color: #F5C009;
}
.comment, .textForm {
    padding: 1.5rem;
    margin: 0.5rem;
    border: 10px solid black;
    border-image: repeating-linear-gradient( -50deg, black, black 15px, #F5C009 15px, #F5C009 30px)5;
}
.commentLink {
    color: black;
    text-decoration: none;
}
.commentForm {
    display: flex;
    flex-direction: column;
    position: relative;
}
.textForm {
    padding: 1.5rem;
    min-width : 100px;
    min-height : 75px;
    max-width : 350px;
    max-height : 75px;
}
button {
   border-radius: 15px;
   padding: 2px;
   margin: 1.5rem;
   max-width: 80px;
   text-align: center;
   position: absolute;
   right: 90px;
   top: 150px;
}
button:hover {
    background: black;
    color: #F5C009;
    font-weight: bolder;
    transition: 1s;
}
/*---------RESPONSIVE DESIGN TABLETTE------------*/
@media (max-width: 885px) {
    .scenarSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .trans {
        position:absolute;
        transform: rotate(30deg);
        top:450px;
        left:-95px;
        width: 150px;
        filter:alpha(opacity=55);
        -moz-opacity:0.45;
        opacity: 0.25;

    }
    .scenarImg {
        width: 430px;
    }
    .commentSection {
        display: flex;
        flex-direction: column-reverse;
    }
    button {
        border-radius: 15px;
        padding: 2px;
        margin: 1.5rem;
        max-width: 80px;
        text-align: center;
        position: absolute;
        right: 190px;
        top: 100px;
     }
}
/*----------RESPONSIVE DESIGN PHABLETTE--------*/
@media (max-width: 685px) {
    .scenarSection {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin: 0px;
    }
    .trans {
        display: none;
    }
    .scenarImg {
        width: 430px;
    }
    button {
        border-radius: 15px;
        padding: 2px;
        margin: 1.5rem;
        max-width: 80px;
        text-align: center;
        position: static;
     }
}
/*----------RESPONSIVE DESIGN MOBILE-----------*/
@media (max-width: 450px) {
    .scenarTales {
        font-family: 'Shadows Into Light', cursive;
       font-weight: bolder;
       width: 300px;
       margin: 0;
    }
    .scenarImg {
        width: 300px;
    }
    .RulesLi, .RuleSubLi {
        width: 200px;
    }
}