main {
    background: #FEC71F;
}
.formContainer {
    margin: 4em;
}
.formTitle{
    text-align: center;
}
input[name="formTitle"] {
    max-width: 15em;
}
.formHistory {
    display: flex;
    flex-direction: column;
}
textarea {
    border-radius: 5px;
    background: white;
}
.formRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hidden {
    display: none;
}
button {
    text-align: center;
}